<%= render 'layouts/tabs' %>
<div id="errors"></div>
<div id="helpbox">
  <%= link_to "Log Out", logout_path, method: :delete, remote: true %>
  <%= render 'help_requests/helpbox', help_request: HelpRequest.new %>
  <%= render 'help_requests/givehelp'  %>

</div>
