<%= link_to "Log Out", logout_path, method: :delete, remote: true %>


<ul>
  <li><%= gravatar_for(current_user.email) %></li>
  <li>Color</li>
  <% if @help_request.users.first.id == current_user.id %>
    <li>  <%= link_to "Cancel", "/help_requests/#{@help_request.id}", method: :delete, remote: true %></li>
  <% else %>
    <li>Checkbox</li>
  <% end %>
</ul>
