<div class="help-container">
<button id="toggle">Show/Hide</button>
<div class="helpbox">
<h1>Get Help</h1>  
<%= form_for @help_request do |f| %>
<%= f.text_field :note, placeholder: "Describe problem" %>
<%= f.select :urgency, [['blue', 1], ['orange', 2], ['red', 3]], :prompt => 'Urgency'  %>
<%= f.submit "HELP" %>
<% end %>
</div>
</div>
