/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  font-family: 'Noto Sans';
}
.help-container {
  bottom: 0;
  position: absolute;
}
.getbox, .givebox {
  width: 300px;
  height: 200px;
}

#socrates {
  width: 100%;
}
.help-container {
  margin: 0;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}
.tabs {
  padding-left: 0;
  margin: 0;
}
.tabs li {
  display:inline-block;
  
  text-align: center;

} 

#exit, #popup {
  width: 20px;
}
.tabs li a {

  display: block;
  text-decoration: none;
  background: #0088cc;
  width: 150px;
  padding: 5px;
  color: white;
}
.tabs li a:first-child {
  border-right: 1px solid white;
}
.tabs li a:hover {
  background: #bf0004;
}

.fixed-box {
  bottom: 0px;
  position: fixed;
  background: #ddd;
  height: 40px;
  width: 100%;
}
.fixed-box-inner {
  width: 960px;
  height: inherit;
  margin: 0 auto;
  position: relative;
}
#user input[type=text]{
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #606060;
  font-size: 16px;

}
#user input[type=radio] {
  width: 30px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity: 0;
  opacity: 0;
  margin: 0;
  background-color: red;
  
}
#user #signup-1 {
  background: red;
}
#user #signup-2 {
  background: green; 
}
#user #signup-3 {
  background: orange;
}
#user #signup-4 {
  background: white;
}
#user #signup-teacher {
  background: #660000;
}
#user #signup-alum {
  background: blue;
}
#user input[type=radio]:checked {
  border: 3px solid red;
 
}
#user #signup-teacher input[type=radio]{
  width: 61px;
}
#user #signup-alum input[type=radio] {
  width: 40px;
}
#user {
  line-height: 40px;
}
#user label {

  width: 30px;
  height: 40px;

  display: inline-block;
}
#user #signup-teacher label,
#user #signup-alum label{
  width: inherit;
  height: inherit;
}
#user span {
  line-height: 40px;
  position: relative;

  display: inline-block;

  text-align: center;

}
#user #Teacher-signup{
  width: 70px;

}
#user #Alum-signup {
  width: 50px;
}