/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  font-family: 'Noto Sans';
}
.help-container {
  
  bottom: 0;
  left: 40px;
  position: absolute;
  
  background: #eee;
}
.getbox, .givebox {
  width: 300px;
  height: 200px;
}

#socrates {
  width: 100%;
}
.help-container {
  margin: 0;
  background: #f5f5f5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
}
.tabs {
  padding-left: 0;
  margin: 0;
}
.tabs li {
  display:inline-block;
  
  text-align: center;

} 

#exit {
  width: 20px;
}
.tabs li a {

  display: block;
  text-decoration: none;
  background: #0088cc;
  width: 150px;
  padding: 5px;
  color: white;
}
.tabs li a:first-child {
  border-right: 1px solid white;
}
.tabs li a:hover {
  background: #bf0004;
}


