ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabs li {
  display: inline;
  margin-right: 20px;
}

#getbox input[type=text] {
  border-radius: 5px;
  height: 34px;
  width: 200px;
  margin-top: -8px;
  padding: 10px 0 10px 10px;
  float:left;

  margin-right:20px;
}
