// Place all the styles related to the help_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}
.help-container {
  bottom: 0;
  left: 0;
  position: absolute;

}
.help-box {
  width: 300px;
  height: 200px;
}

#socrates {
  width: 100%;
}
